---
import { Button } from "@components/ui/button";
import { Image } from "astro:assets";
import { OAuthProvider } from "node-appwrite";
import imgGoogle from "@assets/icons/google.svg";
import imgApple from "@assets/icons/apple.svg";
import imgMicrosoft from "@assets/icons/microsoft.svg";
---
<form method="post" action="/account/oauth">
  <input type="hidden" name="provider" value={OAuthProvider.Google} />
  <Button type="submit" variant="outline" className="w-full justify-start">
    <Image src={imgGoogle} alt="Google logo" class="w-5 h-5 mr-2" />
    <div class="w-full flex justify-center items-center">
      Sign In with Google
    </div>
  </Button>
</form>
<form method="post" action="/account/oauth">
  <input type="hidden" name="provider" value={OAuthProvider.Apple} />
  <Button variant="outline" className="w-full flex justify-start">
    <Image src={imgApple} alt="Google logo" class="w-5 h-5 mr-2" />
    <div class="w-full flex justify-center items-center">
      Sign In with Apple
    </div>
  </Button>
</form>
<form method="post" action="/account/oauth">
  <input type="hidden" name="provider" value={OAuthProvider.Microsoft} />
  <Button variant="outline" className="w-full justify-start">
    <Image src={imgMicrosoft} alt="Google logo" class="w-5 h-5 mr-2" />
    <div class="w-full flex justify-center items-center">
      Sign In with Microsoft
    </div>
  </Button>
</form>
